player-connection-mode=Listen
player-connection-guid=485713782
player-connection-debug=0
player-connection-project-name=Pirate-Tactical
player-connection-ip=192.168.1.173
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d4bd630ed74f4ead8e19470666dc6439
